/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

/* Color Variables */
:root {
    --primary-color: #007bff;
    --hover-link-color: #68b1ff;
    --scrolled-link-color: #e3f0ff;
    --footer-bg-color: #222;
    --footer-text-color: white;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 100px; 
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 10; 
    transition: background-color 0.3s; 
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Logo Styles */
.logo {
    text-decoration: none; 
    color: black; 
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 5px;
    margin-top: -5px;
    transition: color 0.3s; 
}

.header.scrolled .logo {
    color: black; 
}

/* Header Navigation Styles */
.header nav {
    margin-top: 10px; 
}

.header nav ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.header nav ul li {
    margin: 0 15px; 
}

.header nav ul li a {
    text-decoration: none; 
    color: #000; 
    font-weight: bold; 
    padding: 10px; 
    transition: color 0.3s ease;
}

.header nav ul li a:hover {
    color: var(--primary-color); 
}

.header nav ul li a.active {
    color: #0056b3; 
}

/* Cart Wrapper Styles */
.cart-wrapper {
    display: flex; /* Use flex for layout */
    align-items: center; /* Center the icon vertically */
    margin-left: 15px; /* Space between cart icon and other links */
}

/* Cart Icon Styles */
.cart-icon {
    max-width: 40px;
    max-height: 40px;
    transition: transform 0.3s ease;
    display: flex; /* Use flex to center the icon if needed */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 0px;
    position: relative;
    z-index: 10; /* Raise above other elements */
    cursor: pointer;
}

.cart-icon:hover {
    transform: scale(1.1); /* Grow on hover */
}

.cart-icon.active {
    background-color: rgba(255, 255, 0, 0.2); /* Optional highlight color */
    border-radius: 5px; /* Optional styling for roundness */
}

/* Sidebar Styles */
.shopping-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white; 
    box-shadow: -2px 0 5px rgba(0,0,0,0.5); 
    padding: 20px; 
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Hidden by default */
    z-index: 100; 
}

.shopping-sidebar.open {
    transform: translateX(0); /* Show the sidebar */
}

.shopping-sidebar .close {
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    color: black;
    background-color: transparent; /* Ensures it's overlaying correctly */
}

.sidebar-header {
    color: black;
    font-size: 1.25em;
}

.sidebar-paragraph {
    color: black;
    font-size: 1em;
    line-height: 1.4; /* Maintain readability */
}

#cartContents {
    margin-top: 20px; /* Space between header and items */
    font-size: 16px; /* Font size for readability */
}

#cartContents p {
    margin: 10px 0; /* Space between items */
}

#cartContents div {
    display: flex; /* Horizontally align item name and buttons */
    justify-content: space-between; /* Space out item details and buttons */
    align-items: center; /* Vertically align buttons with item text */
}

#cartContents button {
    cursor: pointer; /* Change cursor to indicate clickable */
    background-color: #007bff; /* Example button color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    padding: 5px 10px; /* Padding for buttons */
    margin-left: 5px; /* Space between buttons */
    transition: background-color 0.3s; /* Transition effect on hover */
}

#cartContents button:hover {
    background-color: #0056b3; /* Darker color on hover */
}

/* Main content area styles */
.content {
    flex: 1; /* Allow main content to grow and fill available space */
    display: flex; /* This can help center contents as needed */
    justify-content: center; /* Center horizontally if there's child content */
    align-items: center; /* Center vertically if needed */
}

/* Video Banner Styles */
.video-banner {
    width: 100%; 
    max-width: 890px; 
    height: auto; 
    max-height: 70vh; 
    margin: 150px 0; 
}

/* Footer Styles */
footer {
    display: flex; 
    justify-content: center; 
    background-color: var(--footer-bg-color); 
    padding: 20px; 
    color: var(--footer-text-color); 
    width: 100%; /* Full width */
    min-height: 60px; /* Minimum height to ensure visibility */
    max-height: 120px; /* Set a maximum height to prevent excessive stretching */
    overflow: hidden; /* Hide overflow if content exceeds max height */
}

/* Footer Paragraph Styles */
footer p {
    text-decoration: none; 
    color: white;
    padding-top: 0; 
    text-align: center; 
}

.social-icon {
    margin-left: 15px; /* Space between icons */
    margin-top: 1.5px;
    color: white; /* Icon color */
    text-decoration: none;
}

.terms-icon {
    color: #ffffff;
}

.terms-icon:hover {
    color: #917350;
    transition: color 0.3s;
}

.privacy-policy-icon {
    color: #ffffff;
}

.privacy-policy-icon:hover {
    color: #629150;
    transition: color 0.3s;
}

.purchase-policy-icon {
    color: #ffffff;
}

.purchase-policy-icon:hover {
    color: #4562cb;
    transition: color 0.3s;
}

.youtube-icon {
    color: #ffffff;
}

.youtube-icon:hover {
    color: #bf1e1e;
    transition: color 0.3s;
}

.instagram-icon {
    color: #ffffff;
}

.instagram-icon:hover {
    color: #7e2ccb;
    transition: color 0.3s;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .header nav ul {
        padding: 0px;
    }

    .header nav ul li {
        margin: 0 5px;
    }

    /* Video banner adjustments for mobile */
    .video-banner {
        max-height: 50vh; 
        margin: 30px 0; 
    }

    .social-icon {
        margin-left: 15px; /* Space between icons */
        margin-top: 2.5px;
        color: white; /* Icon color */
        font-size: 0.9em;
        text-decoration: none;
    }

    .terms-icon {
        color: #ffffff;
        font-size: 0.9em;
    }

    .terms-icon:hover {
        color: #917350;
        transition: color 0.3s;
        font-size: 0.9em;
    }

    .privacy-policy-icon {
        color: #ffffff;
        font-size: 0.9em;
    }

    .privacy-policy-icon:hover {
        color: #629150;
        transition: color 0.3s;
        font-size: 0.9em;
    }

    .purchase-policy-icon {
        color: #ffffff;
        font-size: 0.9em;
    }

    .purchase-policy-icon:hover {
        color: #4562cb;
        transition: color 0.3s;
        font-size: 0.9em;
    }

    .youtube-icon {
        color: #ffffff;
        font-size: 0.9em;
    }

    .youtube-icon:hover {
        color: #bf1e1e;
        transition: color 0.3s;
        font-size: 0.9em;
    }

    .instagram-icon {
        color: #ffffff;
        font-size: 0.9em;
    }

    .instagram-icon:hover {
        color: #7e2ccb;
        transition: color 0.3s;
        font-size: 0.9em;
    }

}

@media (max-width: 900px) {
    .video-banner {
        max-height: 60vh; 
    }
}
