body {
    font-family: Arial, sans-serif;
}

/* Footer Styles */
footer {
    display: flex; 
    justify-content: center; 
    background-color: #333; 
    padding: 20px; 
    color: white; 
    width: 100%; 
    min-height: 60px; 
}

footer p {
    margin: 0; 
    padding-right: 15px;
}

.social-icon {
    margin-left: 15px; 
    color: white; 
    text-decoration: none;
    font-size: 20px; 
}

.youtube-icon:hover {
    color: #ff0000; 
}

.instagram-icon:hover {
    color: #e1306c; 
}

.cart-icon:hover {
    color: #28a745; 
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
